:root{
    --primary: #73ac96;
   --primary-01: #73ac96;
    
   --secondary: #73ac96;
   --secondary-02: #f5f5f5;

   --white: #fff;

   --black: #0b0a0c;
   --black-01: #1c2525;

   --grey: #9b9ba0;
}